



.container {
  padding: 20px;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}
.product-image {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

